body {
  background-color: #0f111a;
  color: #33ff33;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 2rem;
}

a {
  color: #00afff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.terminal {
  max-width: 800px;
  margin: auto;
  border: 1px solid #33ff33;
  padding: 1rem;
  background-color: #000000;
  box-shadow: 0 0 10px #33ff33;
  border-radius: 10px;
}

.header {
  font-weight: bold;
  margin-bottom: 1rem;
}

.green {
  color: #33ff33;
}

.blue {
  color: #00afff;
}

.command {
  color: #ff6600;
}
